@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:before,
.clearfix:after {
  display: block;
  content: "";
  clear:both;
}

.wrapper-boxmodel {
  width: 900px;
  margin: 0 auto;
  padding: 20px;
  background: #eff3f4;
  }

.boxmodel-front:first-child {
  margin-left: 0;
}

.boxmodel-front {
  float: left;
  background: #3274ae;
  padding: 20px;
  margin-left: 20px;
}

.boxmodel {
  width: 170px;
  background: #eaf4ff;
  border: 10px solid #022336;
  padding: 20px;
}

.boxmodel-text {
  font-size: 16px;
  line-height: 16px;
}
/* 回答はここに書いてね */
