@charset "UTF-8";

/* 回答はここに書いてね */
.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.q7-float-box {
  float: left;
  width: 225px;
}

.q7-float-box:last-child {
  margin-left: 50px;
}

.q7-table-wrapper {
  display: table;
}

.q7-table-box {
  display: table-cell;
  vertical-align: middle;
  width: 225px;
}

.q7-table-box:last-child {
  padding-left: 50px;
}

.q7-inline-wrapper {
  font-size: 0;
}

.q7-inline-box {
  display: inline-block;
  vertical-align: middle;
  font-size: 16px;
  width: 225px;
}

.q7-inline-box:last-child {
  margin-left: 50px;
}

.q7-flex-wrapper {
  display: flex;
  width: 100%;
  justify-content: space-around;
  align-items: flex-end;
}

.q7-flex-box {
  width: 225px;
}

.q7-5-box-wrapper {
  font-size: 0;
}

.q7-5 {
  vertical-align: top;
}

.no5-left-box {
  display: inline-block;
  width: 300px;
}

.no5-right-box {
  display: inline-block;
  width: 100%;
  margin-left: -300px;
  padding-left: 350px;
  box-sizing: border-box;
}

.q7-5-text {
  font-size: 16px;
}
/* 回答はここに書いてね */
