@charset "UTF-8";

/* 回答はここに書いてね */
table {
  width: 100%;
  text-align: center;
  border: solid 1px #dedede;
  table-layout: fixed;
}

table th {
  padding: 10px;
  background: #2244aa;
  color: #ffffff;
  border: solid 1px #dedede;
  font-size: 18px;
  line-height: 26px;
}

table td:first-child {
  background: #2244aa;
  color: #ffffff;
  font-size: 18px;
  line-height: 26px;
}

table td {
  padding: 10px;
  border: solid 1px #dedede;
  font-size: 16px;
  line-height: 22px;
}

table tr:nth-child(2n+1) {
  background: #ecf1f2;
}

table tr:last-child {
  border-top: dashed 2px #000;
}
/* 回答はここに書いてね */
