@charset "UTF-8";

/* 回答はここに書いてね */
.q8_btn {
  display: inline-block;
  margin-left: 10px;
  text-align: center;
  cursor: pointer;
}

.q8_btn:first-of-type {
  margin-left: 0;
}

.q8_btn_small {
  padding: 0 15px;
  line-height: 26px;
  font-size: 16px;
  border-radius: 3px;
}

.q8_btn_middle {
  padding: 0 20px;
  line-height: 32px;
  font-size: 20px;
  border-radius: 5px;
}

.q8_btn_large {
  padding: 0 25px;
  line-height: 38px;
  font-size: 24px;
  border-radius: 7px;
}

.q8-common {
  background: #00bcd4;
  color: #fff;
}

.q8-error {
  background: #ff4081;
  color: #fff;
}

.q8-disabled {
  background: #e5e5e5;
  color: #fff;
}

.q8-shadow {
  color: #222;
  box-shadow: 0 1px 6px rgba(0,0,0,.12);
}

.clearfix:before,
.clearfix:after {
  content: "";
  display: block;
  clear: both;
}

.q8-form {
  width: 700px;
  background: #ECF1F2;
  padding: 20px;
  margin: 0 auto;
}

.q8-form-title {
  position: relative;
  margin-bottom: 20px;
}

.q8-form-title::before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 100%;
  height: 1px;
  background: #ccc;
  content: "";
}

.q8-form-title-text {
  position: relative;
  display: inline-block;
  font-size: 24px;
  font-weight: bold;
  background: #ecf1f2;
  padding-right: 10px;
}

.q8-form-left {
  float: left;
  width: 300px;
}

.q8-menu {
  margin-bottom: 20px;
}

.q8-menu > li {
  margin-top: 20px;
}

.q8-menu > li:first-child {
  margin-top: 0;
}

.q8-form-menu .is-required {
  color: #f00;
}

.q8-form-menu {
  float: left;
  width: 100px;
  text-align: right;
  line-height: 25px;
}

.q8-form-menu-content {
  float: right;
  width: 180px;
}
.q8-item-content-init {
  padding: 0;
  background: none;
  border: none;
  border-radius: 0;
  font-size: 16px;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.q8-item-content {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  line-height: 12px;
  box-sizing: border-box;
  background-color: #fff;
  font-size: 12px;
}

.q8-item-content:focus {
  box-shadow: 0 0 7px #00BCD4;
}

.q8-radio {
  cursor: pointer;
}

.q8-radio-btn {
  display: none;
}

.q8-radio-text {
  position: relative;
  display: inline-block;
  padding: 3px 3px 3px 20px;
}
.q8-radio-text:before {
  position: absolute;
  top: 50%;
  left: 0;
  width: 14px;
  height: 14px;
  margin-top: -8px;
  background-color: #fff;
  border: 1px solid #ccc;
  border-radius: 50%;
  content: '';
}

.q8-radio-btn:checked + .q8-radio-text:after {
  position: absolute;
  top: 50%;
  left: 4px;
  width: 8px;
  height: 8px;
  margin-top: -4px;
  background-color: #00BCD4;
  border-radius: 50%;
  content: '';
}

.q8-options-select {
  width: 100%;
  padding: 5px;
  border-radius: 3px;
  line-height: 12px;
  box-sizing: border-box;
  background: #fff;
  font-size: 12px;
  border: none;
  -webkit-appearance: none;
  cursor: pointer;
}

.q8-options {
  position: relative;
}

.q8-options:after {
  display: block;
  position: absolute;
  top: 4px;
  right: 10px;
  width: 8px;
  height: 8px;
  border-right: 2px solid #e5e5e5;
  border-bottom: 2px solid #e5e5e5;
  transform: rotate(45deg);
  pointer-events: none;
  content: '';
}

.q8-form-btn {
  float: right;
}

.q8-form-right {
  float: right;
  width: 380px;
}

.q8-form-comment {
  width: 100%;
  height: 203px;
  padding: 10px;
  border-radius: 3px;
  box-sizing: border-box;
  background: #fff;
  font-size: 12px;
  resize: none;
}

.q8-form-comment:focus {
  box-shadow: 0 0 7px #00BCD4;
}

.q8-ck {
  text-align: right;
}

.q8-ck-box {
  display: none;
}

.q8-submit-btn {
  padding: 0 10px;
  border-radius: 5px;
  background: #00bcd4;
  color: #fff;
  border: none;
  font-size: 16px;
  line-height: 26px;
  cursor: pointer;
}

.q8-submit-btn:action {
  background-color: #FFF;
  color: #00BCD4;
}

.q8-ck-btn-text {
  position: relative;
  padding-left: 24px;
}

.q8-ck-btn-text:before {
  position: absolute;
  top: 50%;
  left: 0;
  margin-top: -9px;
  width: 16px;
  height: 16px;
  border: 1px solid #ccc;
  content: "";
  background: #fff;
}

.q8-ck-box:checked +
.q8-ck-btn-text:after {
  position: absolute;
  top: 50%;
  left: 6px;
  margin-top: -14px;
  width: 8px;
  height: 16px;
  border-right: 3px solid #00BCD4;
  border-bottom: 3px solid #00BCD4;
  transform: rotate(45deg);
  content: "";
}
/* 回答はここに書いてね */